data MyBool =
| True
| False

let foo (b: MyBool) = 
  match b with
  | True   -> Int
  | False  -> String

let choose (b: MyBool) = 
  match b as x return foo(x) with
  | True   -> 42
  | False  -> "abc"
