let eq = 
    fun A: type        => 
    fun x: A           => 
    fun y: A           => 
    pi  P: (A -> type) => P(x) -> P(y)


let refl_type = 
    pi A: type         =>
    pi a: A            =>
    eq(A)(a)(a)

let refl : refl_type = 
    fun A:  type         =>
    fun x:  A            =>
    fun P:  (A -> type)  =>
    fun px               =>
    ?hole