let leibnitzEq = 
    fun A: kind      => 
    fun x: A         => 
    fun y: A         => 
    fun P: A -> type => 
    pi  p: P(x) => P(y)

let pred = fun x : type => x

lemma prod_id_eq = leibnitzEq(type)(pi x: type => x)(pi x: type => x)(pred)

let x = prod_id_eq