let eq (A : Type) (x : A) (y : A) = 
    forall P : (A -> Type) => P(x) -> P(y)

let trans_type = 
    forall (A: Type) (x: A) (y: A) (z: A) => eq(A,x,y) -> eq(A,y,z) -> eq(A,x,z)

lemma trans : trans_type = 
    fun A x y z xy yz P px => yz(P, xy(P, px))