let (+) = _builtin_int_add
let x = 5 + 3 + 4

let (-) = _builtin_int_sub
let x = 5 - 3 - 4

let (*) = _builtin_int_mul
let x = 5 * 3 * 4

let (/) = _builtin_int_div
let x = 5 / 3 / 4

let (>) = _builtin_int_g
let x = 5 > 3

let (>=) = _builtin_int_ge
let x = 5 >= 3

let (<) = _builtin_int_l
let x = 5 < 3

let (<=) = _builtin_int_le
let x = 5 <= 3
