data Option (A : Type) =
| None
| Some (x : A)

let option_map (A : Type) (B : Type) (f : A -> B) (o : Option(A)) : Option(B) =
    match o with
    | None(A) -> None(B)
    | Some(A, x) -> Some(B, f(x))

let option_get_or_else (A : Type) (o : Option(A)) (e : A) : A =
    match o with
    | None(A) -> e
    | Some(A, x) -> x

let option_fold (A : Type) (B : Type) (f : B -> A -> B) (acc : B) (o : Option(A)) : Option(B) =
    match o with
    | None(A) -> None(B)
    | Some(A, x) -> Some(B, f(acc, x))