let and_type = Type -> Type -> Type
let and : and_type = fun p q => forall (c : Type) => (p -> q -> c) -> c

let conj_type = forall (p: Type) (q : Type) => p -> q -> and (p, q)
let conj : conj_type = fun p q x y c f => f(x, y) 