let add = _builtin_add
let sub = _builtin_sub
let mul = _builtin_mul
let div = _builtin_div
let eq = _builtin_eq
let greater = _builtin_g
let ge = _builtin_ge
let less = _builtin_l
let le = _builtin_le