let (+) = _builtin_int_add
let (-) = _builtin_int_sub
let (*) = _builtin_int_mul
let (/) = _builtin_int_div
let eq_int = _builtin_int_eq
let (>) = _builtin_int_g
let (>=) = _builtin_int_ge
let (<) = _builtin_int_l
let (<=) = _builtin_int_le